{% block body %}
    <div class="page-wrapper chiller-theme toggled">
        <div class="page-content-footer">
            <section id="footer">
                <div class="container">
                    <div class="row">
                        <div class="col">
                            <ul class="list-unstyled list-inline social text-center" style="margin-bottom:0px">
                                <li class="list-inline-item"><a href="https://vk.com/antongusev08" target="_blanck"><i
                                                class="fa fa-vk"></i></a>
                                </li>
                                <li class="list-inline-item"><a href="https://github.com/guusPI17"
                                                                target="_blank"><i
                                                class="fa fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="mailto:antongusevpi17@gmail.com"
                                                                target="_blank"><i
                                                class="fa fa-envelope"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}