.registrationSite{
    //padding-right: 16px;
    text-align: center;
}

.myCheck{
    color: #979797;
}
.linkLicense{
    color: #979797;
    text-decoration: underline;
}
.linkLicense:hover{
    color: #ededed;
    text-decoration: underline;
}